<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Haxball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1076E08B1DC916CB00F9DCB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1076E0A21DC916CB00F9DCB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1076E0AD1DC916CB00F9DCB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
